asgiref==3.8.1
azure-core==1.35.1
azure-storage-blob==12.26.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
cryptography==45.0.7
cssbeautifier==1.15.4
dj-database-url==3.0.1
Django==4.2.11
django-storages==1.14.6
djhtml==3.0.8
djlint==1.36.4
EditorConfig==0.17.1
gunicorn==23.0.0
idna==3.10
isodate==0.7.2
jsbeautifier==1.15.4
json5==0.12.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
psycopg2-binary==2.9.10
pycparser==2.23
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.2
razorpay==2.0.0
regex==2025.7.34
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.9.0
